body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}


h1 {
	color: white;
	font-width: 800;
	font-size: 48px;
}


h2 {
	color: white;
	font-width: 600;
	font-size: 48px;
}

h3 {
	font-width: 600;
	font-size: 40px;
}

p {
	font-width: 300;
	font-size: 26px;
}


div.top {
	background-image: url("../images/header_bg.jpg");
	background-size: 100%;
}

div.button-yellow {
	border: 5px black solid;
	background-color: yellow;
	box-sizing: border-box;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 100px;
	color: black;
	font-width: 800;
	font-size: 28px;
}




